<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
</head>
<body>
    <h1>Order Details</h1>
    <form method="POST"
        data-th-action="@{/order/total}"
        data-th-object="${orderDetails}">
        <table>
            <tr>
                <td>Enter Order ID: </td>
                <td><input type="text" data-th-field="*{id}"></td>
            </tr>
            <tr data-th-if="${#fields.hasErrors('id')}">
                <td></td>
                <td><span data-th-errors="*{id}" style="color: red;"></span></td>
            </tr>
        </table>
        </br>
        <button type="submit">Get order!</button>
    </form>
</body>
</html>